version: '3.8'

services:
  bot:
    build: .
    restart: always
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DB_PATH=/app/data/data.db
      # Убедись, что TZ установлен правильно для твоего региона
      - TZ=Europe/Moscow 
